.tinytop {
  height: 28px;
  color: #fff;
  font-size: 12px;
  line-height: 28px;
  background: #212529;
}
.snow-container {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 1001;
    pointer-events: none;
}

.snow {
    display: block;
    position: absolute;
    z-index: 1001;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation: snow linear infinite;
    animation: snow linear infinite;
}

.snow.foreground {
    background-image: url(../images/snow-large-075d267ecbc42e3564c8ed43516dd557.png);
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
}

.snow.foreground.layered {
    -webkit-animation-delay: 7.5s;
    animation-delay: 7.5s;
}

.snow.middleground {
    background-image: url(../images/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);
    animation: snow2 linear infinite;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

.snow.middleground.layered {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.snow.background {
    background-image: url(../images/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

.snow.background.layered {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

@-webkit-keyframes snow {
    0% {
        -webkit-transform: translate3d(20%, -100%, 0);
        transform: translate3d(20%, -100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes snow {
    0% {
        -webkit-transform: translate3d(20%, -100%, 0);
        transform: translate3d(20%, -100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@-webkit-keyframes snow2 {
    0% {
        -webkit-transform: translate3d(0%, -100%, 0);
        transform: translate3d(0%, -100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes snow2 {
    0% {
        -webkit-transform: translate3d(0%, -100%, 0);
        transform: translate3d(0%, -100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.santaclause {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 20%;
    pointer-events: none;
    img {
        width: 100%;
        object-fit: contain;
    }
    animation: run2 2.5s linear 2s forwards;
    transform: translate3d(-110%, 0, 0);
    @media screen and (max-width: 768px) {
        width: 45%;
    }
    @-webkit-keyframes run2 {
        0% {
            -webkit-transform: translate3d(500%, 0, 0);
            transform: translate3d(500%, 0, 0);
        }
        25% {
            -webkit-transform: translate3d(285%, 0%, 0);
            transform: translate3d(285%, 0%, 0);
        }
        30% {
            -webkit-transform: translate3d(285%, 10%, 0);
            transform: translate3d(285%, 10%, 0);
        }
        35% {
            -webkit-transform: translate3d(285%, 0%, 0);
            transform: translate3d(285%, 0%, 0);
        }
        40% {
            -webkit-transform: translate3d(285%, 10%, 0);
            transform: translate3d(285%, 10%, 0);
        }
        45% {
            -webkit-transform: translate3d(285%, 0%, 0);
            transform: translate3d(285%, 0%, 0);
        }
        100% {
            -webkit-transform: translate3d(-110%, -30%, 0);
            transform: translate3d(-110%, -30%, 0);
        }
    }
}
/**Snow End**/